<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    <style>
        body {
            background-color: #dcdcdc;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }

        :root {
        --mdc-theme-primary: #333; /* Set primary theme color */
        --mdc-theme-secondary: #3f51b5; /* Set secondary theme color */
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>