{% extends "base.html" %}
{% block title %}Apriori{% endblock %}
{% block body %}
<main>
    <h1>Resultado</h1>
    <div class="button-container">
        <a href="/apriori">Regresar</a>
    </div> 
    <div>
        <h1>Tabla de Reglas de Asociación</h1>
        <ul>
            <li>Dataset: {{file}}</li>
            <li>Soporte: {{support}}</li>
            <li>Confianza: {{confidence}}</li>
            <li>Elevación: {{lift}}</li>
        </ul>
        <h2 id="empty-table">No se han encontrado resultados con la configuración actual del algoritmo</h2>
        <div id="data-table-container" class="mdc-data-table">
            <div class="mdc-data-table__table-container">
                <table id="data-table" class="mdc-data-table__table">
                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Regla de Asociación</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Soporte</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Confianza</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Elevación</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="mdc-data-table__pagination">
                <div class="mdc-data-table__pagination-navigation">
                    <button id="prev-page-btn" class="mdc-icon-button material-icons mdc-data-table__pagination-button">
                        <div class="mdc-button__icon">chevron_left</div>
                    </button>
                    <div id="pagination-info" class="mdc-data-table__pagination-info"></div>
                    <button id="next-page-btn" class="mdc-icon-button material-icons mdc-data-table__pagination-button">
                        <div class="mdc-button__icon">chevron_right</div>
                    </button>
                </div>
            </div>
            <div id="progress-linear" class="mdc-linear-progress mdc-linear-progress--indeterminate">
                <div class="mdc-linear-progress__buffering-dots"></div>
                <div class="mdc-linear-progress__buffer"></div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                  <span class="mdc-linear-progress__bar-inner"></span>
                </div>
                <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                  <span class="mdc-linear-progress__bar-inner"></span>
                </div>
              </div>
            </div>
        </div>
    </div>
    <img src="{{ url_for('static', filename='img/charts/aprioriFrecuency.png') }}" alt="Gráfico de Barras" class="small-image">
    <div>
        {{ dataframe|safe }}
    </div>
    <h1>Gráfico de frecuencias</h1>
    <div class="button-container">
        <a href="/apriori">Regresar</a>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script>
    var emptyState = document.getElementById('empty-table')
    var dataTableContainer = document.getElementById('data-table-container')
    var loader = document.getElementById('progress-linear');
    getPageData()
    // Function to show the loader
    function showLoader() {
        loader.style.display = 'block';
    }

    // Function to hide the loader and display the table
    function hideLoader() {
        loader.style.display = 'none';
    }

    function showEmptyState() {
        emptyState.style.display = 'block';
        dataTableContainer.style.display = 'none';
    }

    function showDataTable() {
        emptyState.style.display = 'none';
        dataTableContainer.style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function() {
        showLoader();
        showDataTable()
        const file = "{{file}}"
        const support = "{{support}}"
        const confidence = "{{confidence}}"
        const lift = "{{lift}}";

        const requestBody = {
            file: file,
            support: support,
            confidence: confidence,
            lift: lift
        };

        fetch('/api/v1/apriori/data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        })
        .then(response => response.json())
        .then(data => {
            
            var parsedData = JSON.parse(data);
            if (parsedData.length === 0) {
                showEmptyState()
            } else {
                var table = document.getElementById('data-table');
                var tbody = document.createElement('tbody');
                var pageSize = 10; // Number of rows to display per page
                var currentPage = 1; // Current page

                // Function to render the table rows for the current page
                function renderTableRows() {
                tbody.innerHTML = ''; // Clear existing rows

                var startIndex = (currentPage - 1) * pageSize;
                var endIndex = startIndex + pageSize;
                var currentPageData = parsedData.slice(startIndex, endIndex);

                // Iterate over the data and create table rows
                currentPageData.forEach(function(row) {
                    var tr = document.createElement('tr');

                    Object.values(row).forEach(function(value) {
                    var td = document.createElement('td');
                    td.classList.add('mdc-data-table__cell');
                    td.textContent = value;
                    tr.appendChild(td);
                    });

                    tbody.appendChild(tr);
                });

                // Add the populated tbody to the table
                table.appendChild(tbody);
                }

                // Function to update the pagination UI
                function updatePaginationUI() {
                    var totalRows = parsedData.length;
                    var totalPages = Math.ceil(totalRows / pageSize);
                    var paginationInfo = document.getElementById('pagination-info');

                    paginationInfo.textContent = 'Page ' + currentPage + ' of ' + totalPages;
                    document.getElementById('prev-page-btn').disabled = (currentPage === 1);
                    document.getElementById('next-page-btn').disabled = (currentPage === totalPages);
                }

                // Function to handle previous page button click
                function prevPage() {
                    if (currentPage > 1) {
                        currentPage--;
                        renderTableRows();
                        updatePaginationUI();
                    }
                }

                // Function to handle next page button click
                function nextPage() {
                    var totalPages = Math.ceil(parsedData.length / pageSize);
                    if (currentPage < totalPages) {
                        currentPage++;
                        renderTableRows();
                        updatePaginationUI();
                    }
                }

                // Render initial table rows and pagination UI
                renderTableRows();
                updatePaginationUI();

                // Attach event listeners to pagination buttons
                document.getElementById('prev-page-btn').addEventListener('click', prevPage);
                document.getElementById('next-page-btn').addEventListener('click', nextPage);
                hideLoader();
            }
        })
        .catch(error => {
            console.error('Error:', error)
            hideLoader();
        });
    });
</script>
{% endblock %}
{% block styles %}
<style>
    table {
        border-collapse: collapse;
        width: 50%; /* Reducir el ancho de la tabla al 50% */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 4px; /* Reducir el relleno de las celdas de la tabla */
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .small-image {
        max-width: 50%; /* Reducir el ancho máximo de la imagen al 50% */
        height: auto; /* Ajustar automáticamente la altura de la imagen */
    }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    .button-container a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

    .mdc-linear-progress--indeterminate .mdc-linear-progress__bar-inner {
        animation: mdc-linear-progress-animation 2s infinite linear;
    }

    @keyframes mdc-linear-progress-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
    }
</style>
{% endblock %}