{% extends "base/base.html" %}
{% block title %}Clustering{% endblock %}
{% block body %}
{% include 'components/navbar.html' %}
<main class="base-main-container center-content  mdc-top-app-bar--fixed-adjust">
    <div>
        <h1>Seleccionar archivo CSV</h1>
        <form action="/clustering/process" method="POST" id="cluster-form">
            <select name="file">
                {% for csv_file in csv_files %}
                <option value="{{ csv_file }}">{{ csv_file }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="option-select">Elige el tipo de distancia:</label>
            <select name="option" id="option-select">
                <option value="jerarquico">Cluster Jerarquico</option>
                <option value="particional">Cluster Particional</option>
            </select>
            <br>
            <input type="text" name="limInf" placeholder="Limite inferior" min="0" max="100" required>
            <br>
            <input type="text" name="limSup" placeholder="Limite superior" min="0" max="100" required>
            <br>
            <input type="text" name="distA" placeholder="Distancia A" min="0" max="100" required>
            <br>
            <input type="text" name="distB" placeholder="Distancia B" min="0" max="100" required>
            <br>
            <input type="submit" value="Procesar">
        </form>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById("cluster-form").addEventListener("submit", function(e) {
        var optionSelect = document.getElementById("option-select");
        var selectedOption = optionSelect.options[optionSelect.selectedIndex].value;
        var metricasForm = document.getElementById("cluster-form");

        if (selectedOption === "jerarquico") {
            metricasForm.action = "/clustering/process";
        }

        // No es necesario agregar else if para las demás opciones, ya que el formulario se enviará a la ruta "/metricas/process" por defecto.
    });
</script>
{% endblock %}