{% extends "base/base.html" %}
{% block title %}MagicMine{% endblock %}
{% block body %}
<main class="container">
  <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="MagicMine Logo">
  <h1>MagicMine</h1>
  <p>Bienvenido a MagicMine, el lugar donde la magia se hace con algoritmos.</p>
  <a href="menu" class="mdc-button mdc-button--raised">
    <span class="mdc-button__label">Comenzar</span>
  </a>
</main>
{% endblock %}
{% block styles %}
<style>
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: center;
  }
  
  .logo {
    width: 25%;
  }

  h1 {
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
  }
</style>
{% endblock %}