{% extends "base/base.html" %}
{% block title %}MagicMine{% endblock %}
{% block body %}
<main class="base-main-container center-content mdc-top-app-bar--fixed-adjust">
  <div class="container">
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="MagicMine Logo">
    <h1>MagicMine</h1>
    <p>Bienvenido a MagicMine, el lugar donde la magia se hace con algoritmos.</p>
    <a href="menu" class="mdc-button mdc-button--raised">
      <span class="mdc-button__label">Comenzar</span>
    </a>
  </div>
</main>
{% endblock %}
{% block styles %}
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 1100%;
    padding-bottom: 5%;
  }
  
  .logo {
    width: 15%;
  }

  h1 {
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
  }
</style>
{% endblock %}