{% extends "base/base.html" %}
{% block title %}MagicMine{% endblock %}
{% block body %}
<main class="base-main-container center-content mdc-top-app-bar--fixed-adjust">
  <div class="container">
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="MagicMine Logo">
    <h1>MagicMine</h1>
    <p>Bienvenido a MagicMine, el lugar donde la magia se hace con algoritmos.</p>
    <form class="home-form" action="/home" method="POST">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" placeholder="Ingrese su usuario" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
      </div>
      <button type="submit">Iniciar sesión</button>
    </form>
    <a href="menu" class="mdc-button mdc-button--raised">
      <span class="mdc-button__label">Comenzar</span>
    </a>
  </div>
</main>
{% endblock %}

{% block styles %}
<style>
  .form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 1100%;
    padding-bottom: 5%;
  }
  
  .logo {
    width: 15%;
  }

  h1 {
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
  }
</style>
{% endblock %}