{% extends "base/base.html" %}
{% block title %}Página no encontrada{% endblock %}
{% block body %}
{% include 'components/navbar.html' %}
<main class="base-main-container  mdc-top-app-bar--fixed-adjust">
    <div class="not-found-container">
        <h1>Error 404 - Página no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <a href="/" class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Inicio</span>
        </a>
    </div>
</main>
{% endblock %}
{% block styles %}
<style>
    .not-found-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%
    }
</style>
{% endblock %}