{% extends "base/base.html" %}
{% block title %}Subir Archivo CSV{% endblock %}
{% block body %}
{% include 'components/navbar.html' %}
<main class="base-main-container center-content mdc-top-app-bar--fixed-adjust">
    <div>
        <h1>Subir Archivo CSV</h1>
        <div class="upload-form">
            {% if success_message %}
                <div class="message success-message">
                    {{ success_message }}
                </div>
            {% endif %}
            {% if error_message %}
                <div class="message error-message">
                    {{ error_message }}
                </div>
            {% endif %}
            <form id="upload-form" enctype="multipart/form-data">
                <label for="file">Seleccionar archivo:</label>
                <input type="file" id="file-input" name="file" accept=".csv" required>
                <button type="submit" class="navbar-button mdc-button mdc-button--raised mdc-button--icon-leading">
                    <span class="mdc-button__ripple"></span>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">upload</i>
                    <span class="hide-on-mobile mdc-button__label">Subir</span>
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script>
    document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const fileInput = document.getElementById('file-input');
        const file = fileInput.files[0];

        const formData = new FormData();
        formData.append('file', file);
        console.log(formData);
        fetch('/api/v1/upload', {
            method: 'POST',
            body: formData,
        })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error(error));
    });
</script>
{% endblock %}
{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .upload-form {
        max-width: 400px;
        margin: 0 auto;
    }
    .upload-form label {
        display: block;
        margin-bottom: 10px;
    }
    .upload-form input[type="file"] {
        display: block;
        margin-bottom: 20px;
    }
    .upload-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
    .message {
        text-align: center;
        margin-top: 20px;
    }
    .success-message {
        color: #4CAF50;
    }
    .error-message {
        color: #FF0000;
    }
</style>
{% endblock %}