<!DOCTYPE html>
<html>
<head>
    <title>Metricas de distancia</title>
</head>
<body>
    <h1>Seleccionar archivo CSV</h1>
    <form action="/metricas/process" method="POST" id="metricas-form">
        <select name="file">
            {% for csv_file in csv_files %}
            <option value="{{ csv_file }}">{{ csv_file }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="option-select">Elige el tipo de distancia:</label>
        <select name="option" id="option-select">
            <option value="Euclidiana">Euclidiana</option>
            <option value="Chebyshev">Chebyshev</option>
            <option value="Manhattan">Manhattan</option>
            <option value="Minkowski">Minkowski</option>
        </select>
        <br>
        <input type="text" name="limInf" placeholder="Limite inferior" min="0" max="100" required>
        <br>
        <input type="text" name="limSup" placeholder="Limite superior" min="0" max="100" required>
        <br>
        <input type="text" name="distA" placeholder="Distancia A" min="0" max="100" required>
        <br>
        <input type="text" name="distB" placeholder="Distancia B" min="0" max="100" required>
        <br>
        <input type="submit" value="Procesar">
    </form>
    <form action="/menu" method="GET">
        <input type="submit" value="Regresar">
    </form>

    <script>
        document.getElementById("metricas-form").addEventListener("submit", function(e) {
            var optionSelect = document.getElementById("option-select");
            var selectedOption = optionSelect.options[optionSelect.selectedIndex].value;
            var metricasForm = document.getElementById("metricas-form");

            if (selectedOption === "Euclidiana") {
                metricasForm.action = "/metricas/process";
            }

            // No es necesario agregar else if para las demás opciones, ya que el formulario se enviará a la ruta "/metricas/process" por defecto.
        });
    </script>
</body>
</html>
