<header class="mdc-top-app-bar appbar  mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
      <section class="menu-icon mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="/menu" class="mdc-button mdc-button--outlined mdc-button--icon-leading mdc-theme--secondary">
          <span class="mdc-button__ripple"></span>
          <i class="material-icons mdc-button__icon" aria-hidden="true">widgets</i>
          <span class="mdc-button__label">Algoritmos</span>
        </a>
      </section>
  </div>
</header>