<!DOCTYPE html>
<html>
<head>
    <title>Apriori</title>
</head>
<body>
    <h1>Seleccionar archivo CSV</h1>
    <form action="/apriori/process" method="POST">
        <select name="file">
            {% for csv_file in csv_files %}
            <option value="{{ csv_file }}">{{ csv_file }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Procesar">
    </form>
    <form action="/menu" method="GET">
        <input type="submit" value="Regresar">
    </form>
</body>
</html>
